* {
  box-sizing: border-box;
}

body {
  background: snow;
  font-family: Helvetica, sans-serif;
  letter-spacing: 1px;
  color: #3d5c5c;
  line-height: 1.5rem;
}

/* Styles for search area and buttons*/
h1 {
  font-size: 2.6rem;
  text-align: center;
}

h2 {
  font-size: 1.8rem;
  margin-top: 20px;
  text-align: center;
}

input {
  width: 63%;
  height: 41px;
  font-size: 0.9rem;
  background-color: #c2d6d6;
  border: 1px solid #94b8b8;
  padding: 10px;
}

input:focus,
input:active,
input:checked,
input:-webkit-autofill {
  background-color: #c2d6d6;
  -webkit-box-shadow: 0 0 0px 1000px #c2d6d6 inset;
}

button {
  padding: 11px 15px;
  font-size: 1rem;
  font-weight: bold;
  vertical-align: bottom;
  background-color: #c2d6d6;
  border: 1px solid #94b8b8;
  margin: 1px;
}

button:hover,
.selected {
  background-color: #5c8a8a;
}

.btn-group {
  text-align: center;
}

.result {
  margin: 30px;
}

a {
  text-decoration: none;
  color: black;
}

a img {
  border: 1px solid transparent;
  text-align: center;
}

img:hover {
  border: 1px solid #5c8a8a;
  cursor: pointer;
}
.js-channel {
  display: block;
  font-size: 1rem;
}

.btn-selection {
  display: block;
  padding: 20px;
}

.btn-selection button {
  width: 250px;
  text-align: left;
}

.centerCol {
  margin: 0 auto;
  float: none;
  display: block;
  padding-left: 270px;
  padding-bottom: 20px;
  width: 100%;
}

.centerCol h2 {
  text-align: left;
  padding-left: 10%;
}

.output {
  margin-top: 40px;
}

/*Styles for lightbox*/
.lightbox {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 55%;
  height: 70%;
  padding: 20px;
  background-color: snow;
  z-index: 100;
  transform: translate(-50%, -50%);
  box-shadow: 6px 6px 60px -16px rgba(0, 0, 0, 0.76);
  transition: all 0.5s;
  opacity: 1;
  overflow: auto;
}

.video {
  text-align: center;
  background-color: #eff5f5;
  height: 100%;
  margin: 0;
  padding: 5px;
}

iframe {
  height: 85%;
  width: 85%;
  border: none;
}

.close-btn {
  margin: 15px 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.7);
}

.hidden {
  opacity: 0;
  top: -100%;
}

@media screen and (max-width: 425px) {
  h1 {
    margin: 5px;
    font-size: 1.9rem;
  }

  h2 {
    font-size: 1.3rem;
  }

  input {
    width: 55%;
  }

  button {
    padding: 11px;
  }

  iframe,
  img {
    width: 272px;
    height: 204px;
  }

  .lightbox {
    width: 95%;
    height: auto;
  }

  .container {
    padding: 5px;
  }
}

@media screen and (max-width: 810px) and (min-width: 426px) {
  iframe,
  img {
    width: 368px;
    height: 276px;
  }
}
