* {
  box-sizing: border-box;
}

body {
  background: #f2f2f2;
  font-family: 'Merriweather', serif;
  letter-spacing: 1px;
  color: #551700;
  line-height: 1.4rem;
  margin: 0;
  padding: 0;
}

/* Styles headings*/
.titleMain {
  color: #e62e00;
  display: block;
  margin-bottom: 30px;
  font-size: 3.5rem;
}

h1 {
  font-size: 2.9rem;
  word-break: break-all;
  text-align: center;
  font-family: 'Lobster', cursive;
  letter-spacing: 0.1rem;
}

h2 {
  font-size: 2rem;
  margin-top: 20px;
  text-align: center;
  line-height: inherit;
  font-family: 'Lobster', cursive;
  letter-spacing: 0.15rem;
}

h3 {
  text-align: center;
}

/* Styles for input and buttons*/

input {
  width: 63%;
  height: 45px;
  font-size: 0.9rem;
  background-color: #fff0e6;
  border: 2px solid #e62e00;
  padding: 10px;
}

input:focus,
input:active,
input:checked,
input:-webkit-autofill {
  background-color: #fff0e6;
  -webkit-box-shadow: 0 0 0px 1000px #fff0e6 inset;
}

button {
  padding: 11px 15px;
  font-family: 'Merriweather', serif;
  letter-spacing: 1px;
  font-size: 1.1rem;
  font-weight: bold;
  vertical-align: bottom;
  background-color: #404040;
  border: 1px solid #660066;
  color: white;
  margin: 1px;
}

.startOver-btn {
  display: block;
  margin: 20px auto;
  border: 1px solid #fff0e6;
}

.startOver-btn:hover,
.close-btn:hover {
  color: snow;
  background-color: #e62e00;
  cursor: pointer;
}

button:hover,
.selected {
  background-color: #fff0e6;
  color: #404040;
  border: 1px solid #fff0e6;
  cursor: pointer;
}

.btn-group {
  text-align: center;
}

.btn-selection {
  display: block;
  padding: 10px;
}

.btn-selection button {
  width: 100%;
  text-align: center;
}

/* Styles for YouTube output*/
.result {
  margin: 30px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

a .youTube-img {
  border: 1px solid transparent;
  text-align: center;
}

.youTube-img:hover {
  border: 1px solid #5c8a8a;
  cursor: pointer;
}

/* General styles for output area*/
.centerCol {
  margin: 0 auto;
  float: none;
  display: block;
  padding-bottom: 10px;
  padding-top: 10px;
  width: 80%;
  background-color: #fff2cc;
  /*background-color: #f2e0a5;*/
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.centerCol h2 {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.movieDB-img,
.youTube-img,
.logo-img {
  display: block;
  margin: 0 auto;
}

.js-links {
  padding-left: 15px;
}

li {
  margin: 5px;
}

/*Styles for lightbox*/
.lightbox {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 55%;
  height: 70%;
  padding: 20px;
  background-color: snow;
  z-index: 100;
  transform: translate(-50%, -50%);
  transition: all 0.5s;
  opacity: 1;
  overflow: auto;
}

.video {
  text-align: center;
  background-color: #fff0e6;
  height: 100%;
  margin: 0;
  padding: 5px;
}

iframe {
  margin-top: 55px;
  height: 70%;
  width: 70%;
  border: none;
}

.close-btn {
  display: block;
  margin: 10px auto;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.7);
}

.hidden {
  opacity: 0;
  top: -100%;
}

/* Responsive styles*/
@media screen and (max-width: 425px) {
  p {
    font-size: 0.9rem;
    line-height: 1.1rem;
  }

  h1 {
    margin-top: 30px;
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1.3rem;
  }

  .titleMain {
    margin-bottom: 15px;
    font-size: 2.5rem;
  }

  label {
    display: block;
  }

  input {
    width: 75%;
  }

  button {
    padding: 11px;
  }

  iframe,
  .youTube-img {
    width: 220px;
  }

  iframe {
    margin-top: 10px;
  }

  .movieDB-img {
    width: 210px;
  }

  .centerCol {
    width: 100%;
  }

  .lightbox {
    width: 95%;
    height: auto;
  }

  .container {
    padding: 5px;
  }
}

@media screen and (max-width: 860px) and (min-width: 426px) {
  .intro {
    padding: 40px;
  }

  .logo-img {
    width: 150px;
    height: auto;
    padding-top: 30px;
  }

  input {
    width: 45%;
  }

  iframe {
    margin-top: 15px;
  }

  iframe,
  .youTube-img {
    width: 350px;
  }
}
